.body-section {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.overlay {
    display: none;
}

/* Start Header */
.header {
    flex: 1;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 12px;
    background-color: white;
    color: #1b1b1b;
}

.header .logo img {
    display: block;
}

.header .logo button {
    display: none;
}

.header .section-profile {
    background-color: #1b499d;
    width: 200px;
    padding: 16px 32px;
    color: white;
    border-radius: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* End Header */

/* Start Main */
.main {
    flex: 10;
    padding: 16px;
    overflow-y: auto;
    max-height: 100%;
}
/* End Main */

/* Start Footer */
.footer {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    background-color: white;
    color: #1b1b1b;
}
/* End Footer */

/* Start Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    padding: 20px;
    color: #1b1b1b;
    gap: 16;
    background-color: white;
    border-right: 1px solid #f1f1f1;
    position: fixed;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 100;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* End Sidebar */

/* Start Main */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 300px;
}

.content-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.filter {
    display: flex;
    gap: 8px;
}

.filter > .filter-content {
    display: flex;
    flex-direction: column;
}

.filter-content > .filter-input {
    display: flex;
    gap: 8px
}

.filter-ticket {
    flex: 1;
    display: flex;
    gap: 8px;       
}

.main-content > .content-body {
    flex: 5;
    display: flex;
}

.main-content > .content-body > .content-body-left {
    flex: 2;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 1000px;
}

.content-body-left > .category-chart {
    flex: 1;
}

.content-body-left > .list-ticket {
    flex: 1;
}

.main-content > .content-body > .content-body-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* End Main */

/* Start Table */
.table-container {
    width: 100%;
}
/* End Table */

/* Start Report Card */
.content-header > .card-1,
.content-header > .card-2,
.content-header > .card-3,
.content-header > .card-4 {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s;
}

.card-1 > .card-content,
.card-2 > .card-content,
.card-3 > .card-content,
.card-4 > .card-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-header > .card-1:hover {
    background-color: #F0F4FA;
}

.content-header > .card-2:hover {
    background-color: #FEFCE8;
}

.content-header > .card-3:hover {
    background-color: #F0FDF4;
}

.content-header > .card-4:hover {
    background-color: #FEF2F2;
}

.card-content > .card-content-left {
    display: flex;
    align-items: center;
}

.content-header > .card-1 > .card-content > .card-content-left {
    border-left: 3px solid #1B499D;
}

.content-header > .card-2 > .card-content > .card-content-left {
    border-left: 3px solid #EAB308;
}

.content-header > .card-3 > .card-content > .card-content-left {
    border-left: 3px solid #22C55E;
}

.content-header > .card-4 > .card-content > .card-content-left {
    border-left: 3px solid #EF4444;
}

.card-content > .card-content-right {
    text-align: center;
}

.card-content h1, .card-content p {
    margin: 0;
}
/* End Report Card */

/* Start Priority */
.content-body-right > .priority {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    padding: 16px;
    height: 400px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* End Priority */

/* Start Rating Card */
.content-body-right > .rating-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.content-body-right > .rating-card > .rating-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
/* End Rating Card */

@media (max-width: 768px) {
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 90;
    }

    /* Start Header */
    .header .logo img {
        display: none;
    }

    .header .logo button {
        display: block;
        background-color: #1b499d;
        border-radius: 8px;
        border: none;
        padding: 12px;
    }

    .header .section-profile {
        width: 120px;
        padding: 16px 32px;
    }
    /* End header */

    /* Start Sidebar */
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-active {
        transform: translateX(0);
    }
    /* End Sidebar */
    
    /* Start Main */
    .main {
        padding: 16px;
    }

    .main-content {
        margin-left: 0;
    }

    .filter {
        gap: 10px;
    }

    .content-header {
        gap: 8px;
    }

    .filter-ticket {
        width: 100%;
        flex-direction: column;
    }
    /* End Main */
}