.table {
    overflow-x: auto;
}

.data-table {
    width: 100%;
    display: table;
    vertical-align: middle;
    border-collapse: collapse;
    overflow: hidden;
}

.data-table > thead, .data-table > tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.data-table > tbody {
    display: block;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.data-th:first-child, .data-td:first-child {
    text-align: center;
    vertical-align: middle;
    /* width: 40px; */
}

/* .data-th:last-child, .data-td:last-child {
    width: 100px;
    text-align: center;
} */

.cell-label {
    display: none;
}

.data-th, .data-td {
    border: 1px solid #f1f1f1;
    padding: 14px 16px;
}

.data-th {
    background-color: #f9fafb;
    font-weight: 600;
}

.table-actions {
    display: flex;
    gap: 10px;
}

.table-actions button {
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

tbody tr:hover {
    background: #f9fafb;
}

/* Start Pagination */
.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: white;
    border-top: 1px solid #edf2f7;
    font-size: 14px;
    color: #4a5568;
}

.paginationControls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.paginationControls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 1px solid #e2e8f0;
    background: white;
    color: #b8b8b8;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.paginationControls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.paginationControls button:not(:disabled):hover {
    background: #f7fafc;
    border-color: #cbd5e0;
}

.pageIndicator {
    margin: 0 10px;
}

.pageSizeSelect {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #e2e8f0;
    background-color: white;
    outline: none;
    color: #111827;
}
/* End Pagination */

@media (max-width: 768px) {
    .table {
        max-height: 60dvh;
        overflow-x: auto;
        width: 100%;
        padding-right: 8px;
        box-sizing: border-box;
    }

    .data-table td {
        display: block;
        border: none;
        padding: 6px 0;
    }

    .data-td {
        display: block;
        padding: 6px 0;
        width: 100%;
    }
    
    tr {
        display: block;
        margin-bottom: 16px;
        padding: 12px;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
    }

    .cell-row {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 8px;
        align-items: center;
    }

    .cell-label {
        display: block;
        font-size: 12px;
        font-weight: 800;
    }

    .cell-value {
        font-size: 14px;
        font-weight: 500;
    }

    .data-table thead {
        display: none;
    }

    .data-th:last-child, .data-td:last-child {
        width: 100%;
    }

    .table-actions {
        gap: 0;
    }
}