.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navHeader {
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: white;
    color: #374151;
}

.section-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-right button {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
}

.btn-icon {
    display: none;
}

.btn-text {
    display: inline;
}

.section-right button {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #1B499D;
    border: none;
}

@media (max-width: 767px) {
    .btn-icon {
        display: inline;
    }

    .btn-text {
        display: none;
    }
}